@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main{
    background-color: aqua;
    background: no-repeat url(h.jpg);
    background-size: contain;
    height: 1000px;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.main::before{
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.388);
    /* z-index: ; */
}
.banner-item{
    height: 600px;
    /* background-color: aquamarine; */
    width: 50%;
    /* float: right; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 50px 0px 50px 100px;
}
.banner-item h1{
    z-index: 10;
    font-size: 4rem;
    font-weight: 800;
    padding: 0px 0px;
    
}
.banner-item h5{
    z-index: 10;
    font-size: 1.3rem;
    padding: 25px 0px;
}
.btn{
    z-index: 10;
    background-color:#0078d4!important;;
    border: .5px solid gray;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    width: 159px;
    height: 50px;
}
.youWin{
    color: #0078d4;;
}
.round1{
    background-color: white;
    color: black;
    padding: 50px 100px;
}
.heading-round1{
    /* background-color: ; */
    padding: 20px 0px;
}