.container{
    display: flex;
    justify-content: space-around;
   margin-bottom: 200px;
    align-items: center;
}
.contill{
    max-width: 100%;
    height: 20vw;
    min-height: 200px;
}
.input_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
 width:25vw;
height: 34px;
padding: 10px;
border-radius: 4px;
min-width: 250px;

}
.contbtn{
   width: 150px;
    color: white;
    background: linear-gradient(270deg, #186EF2 0%, #6D18EF 100%);
    border-radius:5px ;
    padding: 15px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    font-family: Nunito,sans-serif;


}
.contbtn:hover{
  transform: scale(1.1);
}




.testimonial_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   


}
.bgname{
    
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.15);
font-family: Kumbh Sans;
font-weight: 900;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

  font-size: 15vmin;
    font-weight: 800;
  }
  .test_text{
  
    color: white;
   
}
.test_text{
    
  text-align: center;
  position: relative;
  bottom: 20px;
    color: white;
    font-size: 2vw;
    font-weight: bold;
  }


  .form{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }


  @media only screen and (max-width: 700px) {
    .bgname{
        font-size: 70px; 
    }
    .test_text{
        font-size: 20px;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
      
    }
    .input{
       width: 250px;
      padding: 5px;
    }
    .contill{
        max-width: 100%;
        height: 200px;
    }
    .input_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
  }