
.domain_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   margin-top: 120px;
   background-image: url('../../../public/Ellipse\ 14.png'),url('../../../public/elipseleft.png');
   background-repeat: no-repeat,no-repeat;
   background-position: right top , 0 100% ;
   background-size: 10% , 25% ;
   
   
   }
.resource_heading{
    font-size: 4em;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.domain_container{
    margin: 60px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
  
  .bgname{
      
      display: flex;
      justify-content: center;
      text-shadow: 
      0.8px 0px 0px rgba(255, 255, 255, 0.15),   /* Right shadow */
      -0.8px 0px 0px rgba(255, 255, 255, 0.15),  /* Left shadow */
      0px 0.8px 0px rgba(255, 255, 255, 0.15),   /* Bottom shadow */
      0px -0.8px 0px rgba(255, 255, 255, 0.15);  /* Top shadow */
  color: #080108;  
  font-family: Kumbh Sans;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  
    font-size: 15vmin;
      font-weight: 800;
    }
    .test_text{
    
      color: white;
     
  }
  .test_text{
     
    text-align: center;
    position: relative;
    bottom: 30px;
      color: white;
      font-size: 2vw;
      font-weight: 900;
      word-spacing: 1px;
      letter-spacing: 1px;
    }

    @media only screen and (max-width:505px) {
      .domain_wrapper{
        
       margin-top: 100px;
     
       
       
       }
       .domain_container{
        margin: 30px;
       }
      .test_text {
        color: white;
        text-align: center;
        font-size: 1em;
      }
    }