.footer_container{
display: flex;
color: white;
justify-content: space-around;
padding: 80px 4vw;
border-top: 2px solid white;
border-bottom: 2px solid white;

}
.foter_blocks_1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 1.4199999570846558px;
text-align: left;
cursor: pointer;

}
.foter_blocks_2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 1.4199999570846558px;
text-align: left;
cursor: pointer; 

}
.foter_blocks_3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 1.4199999570846558px;
text-align: left;
cursor: pointer;
align-items: center;

}
.iconcont{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: start;
    
}
.icon{
    font-size: 2.2em;
    margin: 1px;
}
.social_handles{
    display: flex;
    gap: 35px;
    margin-left: 2px;
  
    
}


@media only screen and (max-width: 1100px) {
   .foter_blocks_1{
    display: none;
   }
   .foter_blocks_2{
    display: none;
   }
   .foter_blocks_3{
    text-align: center;
    font-size: 0.6em;
   }
        }