
.box{
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;


  display: grid;

  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-left: 3.75rem;
  padding-right: 3.75rem;

  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.pic{
  margin-top: 8rem;
  height: 80%;
  display: flex;
  align-items: center;
 
}
.pic2{
  margin-top: 5rem;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pic1 {
  width: 600px;
  min-width: 10px;
  height:   550px;
  margin-bottom: 10rem;
}
.heading{
 
  padding-top: 50px;
  font-size: 4rem; 
  color: #101010;
  margin-bottom: 45px;

text-shadow: 
0.8px 0px 0px rgba(255, 255, 255, 0.15),   /* Right shadow */
-0.8px 0px 0px rgba(255, 255, 255, 0.15),  /* Left shadow */
0px 0.8px 0px rgba(255, 255, 255, 0.15),   /* Bottom shadow */
0px -0.8px 0px rgba(255, 255, 255, 0.15);  /* Top shadow */
  color: #f3ecf3;  
  font-family: Kumbh Sans;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  font:bold;
  

}
.head{
  color: white;
  font-size: 4rem;
}
.next{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  padding-left: 4rem;

}
p{
  color: white;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  padding-left: 4rem;
  gap: 20px;
}
.btn{
  gap: 20px;
  height: 6rem;
  width: 9rem;
  padding-left: 4rem;

}
.btn-1{
  background: linear-gradient(270deg, #9fc3fb 0%, #d2b6fc 100%);
  
}
.btn-1:hover{
  background:linear-gradient(270deg, #186EF2 0%, #6D18EF 100%);
}