.nav_container {
    top: 0;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.link_container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    width: 40vw;
    justify-content: space-around;
    padding: 15px;
    min-width: 400px;
}

.nav_link {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav_link:hover {
    color: cyan;
}

.club_icon_img {
    max-width: 100%;
    height: 12vh;
}

.joinbtn{
    color: white;
    background: linear-gradient(270deg, #186EF2 0%, #6D18EF 100%);
    width: 100px;
    height: 30px;
    padding: 20px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    justify-content: center;
    cursor: pointer;

}
.joinbtn:hover{
    transform: scale(1.2);
}
.join_mobile{
    color: white;
    background: linear-gradient(270deg, #186EF2 0%, #6D18EF 100%);
    width: 100px;
    height: 30px;
    padding: 25px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    justify-content: center;
    cursor: pointer;
    margin-top: 15px;
}
.close_menu{
    display: none;
}

.mobile_view{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
   background: transparent;
    list-style: none;
    transition: all 6.5s ;
    transition-delay: 1s;
    align-items: center;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #080108;

}
.nav_mobile_view{
    text-align: center;
    padding: 30px;
    width: 100%;
    transition: all 0.5s ease;
    border: 2px solid grey;
    letter-spacing: 2px
}

@media only screen and (max-width: 700px) {
    .nav_container {
        display: flex;
        justify-content: space-between;
    }

    .joinbtn {
        display: none;
    }

}