
.bgname{
    
    display: flex;
    justify-content: center;
    text-shadow: 
    0.8px 0px 0px rgba(255, 255, 255, 0.15),   /* Right shadow */
    -0.8px 0px 0px rgba(255, 255, 255, 0.15),  /* Left shadow */
    0px 0.8px 0px rgba(255, 255, 255, 0.15),   /* Bottom shadow */
    0px -0.8px 0px rgba(255, 255, 255, 0.15);  /* Top shadow */
color: #080108;  
font-size: 10vw;
    font-weight: 800;
    font-family: Kumbh Sans;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
   
}
.about_wrapper{
    margin: 30px;
   
   
    
}

.about_text_wrapper{
    margin: 0  40px;
   

}


.about_text_1{
    font-family: Jost;
   
    display: flex;
    width: fit-content;
    font-size: 2.5em;
    position: relative;
    color: white;
    z-index: 3;
    top: 6vw;
    left: 13vw;
   
}
.about_text_2_wrapper{
    display: flex;
    justify-content: flex-end;

   
}
.about_text_2{
    margin: 50px;
    color: rgb(253, 247, 247);
    width: 45vw;
    letter-spacing: 0.8px;

}

@media only screen and (max-width: 850px) {
    .about_text_2_wrapper{
        display: flex;
        justify-content: center;
    
       
    }
    .about_text_wrapper{
       margin-top: 60px;
       
    
    }
    .about_text_2{
        margin: 60px auto;
       text-align: justify;
    color: rgb(253, 247, 247);
    width: 40vw;
    min-width: 300px;
    
    }
    .about_text_1{
    font-family: Jost;
   
    display: flex;
    width: fit-content;
    font-size: 2.5em;
    position: relative;
    color: white;
    z-index: 3;
    top: 6vw;
    left: 13vw;
   
}
   
    
      }

      
@media only screen and (max-width: 1078px) {
    .about_text_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
       
    
    }
    .about_text_1{
    font-family: Jost;
   
    display: flex;
    width: fit-content;
    font-size: 2.0em;
    position: relative;
  left: auto;
  top: 4vw;
}
.about_text_2{
    margin: auto;
   text-align: justify;
color: rgb(253, 247, 247);
width: 50vw;
min-width: 280px;
position: relative;
top: 70px;
letter-spacing: 0.5px;
word-spacing: 0.2px;

}
    
      }