.player_container{
  
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

}
.player_container iframe {

    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 70%;
}